* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(82, 82, 82);
}

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.container {
  max-width: calc(1024px / 2);
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 16px;
}

.check {
  color: #b8b8b8;
  font-weight: normal;
}

.fa-trash {
  cursor: pointer;
}

.fa-trash:hover {
  color: red;
}

ul {
  list-style: none;
}

.todo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
